<div><%= notice %></div>

<%= form_tag("login", :method => "get") do %>
  <%= label_tag( :em, "Email:" ) %>
  <%= text_field_tag(:em) %>
  <%= label_tag( :pass, "Password:" ) %>
  <%= text_field_tag( :pass ) %>
  <%= submit_tag("log in") %>
<% end %>

