%div{:class => "navbar-form pull-right #{@session_class}"}
  Hi! #{@you}
%div{:class => "navbar-form pull-right #{@loggin_class}"}
  = form_tag '/logins', :method => 'post', :class => 'navbar-form pull-right' do
    = text_field_tag 'email', nil, :placeholder => "Email", :class => "span2"
    = text_field_tag 'pass', nil, :type => 'password', :placeholder => "Password", |
      :class => "span2"                                                            |
    = submit_tag 'LogIn', :class => 'btn'
