!!!
%html
  %head
    %title Blame
    %meta{:content => "utf-8", :name => "charset"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "Nyssy", :name => "author"}/
    %meta{:content => "#{yield(:description)}", :name => "description"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/shiv'
  %body
    = render 'layouts/navigation'
    = yield
